<div class="auth-page">

  <div class="auth-box">
    <form id="login-box" method="POST" action="/players/new">
        <div class="top-lab">Submit New Player</div>

        {{#if error}}
        <div id="error">{{{error}}}</div>
        {{/if}}

        <input class="field" maxlength="30" placeholder="Player Username" name="username" type="text">
        <input class="field" placeholder="Non-Biased Description" name="description" type="text">
        <input class="field" placeholder="imgurl (ENDING WITH .JPG, .PNG, ETC.)" name="imgurl" type="text">

        <div class="g-recaptcha" data-sitekey="6Ld9VWgUAAAAANMg2fEBUmbC48-Is_KZEFJ2XbBL"></div>

        <input class="auth-btn btn blue" value="Submit Player" type="submit">
        <br />
        <p>New players must be approved by mods before they appear on the front page</p>

    </form>

  </div>

</div>
