<div class="auth-page">
<script async src="https://imgbb.com/upload.js" data-auto-insert="bbcode-embed-medium"  data-palette="blue" data-sibling="#cap"></script>
  <div class="auth-box">
    <form id="login-box" method="POST" action="/players/new">
        <div class="top-lab">Submit New Player</div>

        {{#if error}}
        <div id="error">{{{error}}}</div>
        {{/if}}

        <input class="field" maxlength="30" placeholder="Player Username" name="username" type="text">
        <input class="field" placeholder="Non-Biased Description" name="description" type="text">
        <input class="field" placeholder="Direct Image URL (ENDING WITH .JPG, .PNG, ETC.)" name="imgurl" type="text">

        <div id="cap" class="g-recaptcha" data-sitekey="6Ld9VWgUAAAAANMg2fEBUmbC48-Is_KZEFJ2XbBL"></div>

        <input class="auth-btn btn blue" value="Submit Player" type="submit">
        <br />
        <br />
        <p>New players must be approved by mods before they appear on the front page</p>
        <a target="_blank" href="https://www.youtube.com/watch?v=pXM1S2y7dlM">How to submit images</p>

    </form>

  </div>

</div>
