<div class="player-section">
  <div class="center-button">
    <a class="btn blue waves-effect waves-white" href="/players/new">Submit Player</a>
  </div>

  <div class="grid">
    {{#each players}}





      <div class="player waves-effect waves-light">
        <img src={{this.imgurl}} />
        <p><a href="/players/{{this.username}}">{{this.username}}</a></p>

        {{#if ../currentUser.mod}}
          <div class="admin-buttons">
            <!--Delete-->

            <a class="edit-button" href="players/{{this.username}}/edit"><i class="material-icons">edit</i></a>


          </div>
        {{/if}}
      </div>
    {{/each}}

  </div>
</div>
