
<div class="index-page">

  <div class="index-bar">
    <p>Epic Duel Stories is a fan-made website dedicated to preserving your favorite memories of people and factions on Epic Duel</p>
  </div>


  <div class="index-content">
    {{> players}}
    {{> factions}}
  </div>

  <div class="index-bar"><p>Coded with love by The Chosen 0ne</p></div>
</div>
