<div class="auth-page">

  <div class="auth-box">
    <form id="login-box" method="POST" action="/factions/new">
        <div class="top-lab">Submit New Faction</div>

        {{#if error}}
        <div id="error">{{{error}}}</div>
        {{/if}}

        <input class="field" maxlength="30" placeholder="Faction Name" name="name" type="text">
        <input class="field" placeholder="Non-Biased Description" name="description" type="text">
        <input class="field" placeholder="Flag Image URL (ENDING WITH .JPG, .PNG, ETC.)" name="imgurl" type="text">

        <center><div class="g-recaptcha" data-sitekey="6Ld9VWgUAAAAANMg2fEBUmbC48-Is_KZEFJ2XbBL"></div></center>

        <input class="auth-btn btn blue" value="Submit Faction" type="submit">
        <br />
        <br />
        <p>New factions must be approved by mods before they appear on the front page</p>
        <a target="_blank" href="https://www.youtube.com/watch?v=pXM1S2y7dlM">How to submit images</p>

    </form>

  </div>

</div>
